
.list-group-item {
  background-color: #d1b673 !important;
  opacity: 80%;
  color: white;
}

.item-active {
  background-color: #91a20f !important;
}

.item-success {
  background-color: #19a22b !important;
}

.item-fail {
  background-color: #ef3b47 !important;
}

.queue-card {
  min-height: 355px;
  max-height: 355px;
  overflow-y: auto;
}
.span-queue {
  font-size: 1.7em;
  line-height: 1.4;
}

.cancel-order {
  font-size: 1.4em;
  font-weight: bold;
  background-color: #ef3b47;
}