.bg-nav {
  background-color: #d4c294 !important;
  justify-content: center;
  height: 150px;
  border: 6px;
  border-style: solid;
  border-color: #292526;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.navbar-brand {
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1.1;
  color: #292526;
}

.navbar-menu {
  font-size: 3.2em !important;
  color: white;
  text-align: center !important;
  background-color: transparent;
  line-height: 1.1;
  border: 0;
}

@media screen and (max-width: 820px) {
  .navbar-brand {
    font-size: 2.5em;
  }

  .navbar-menu {
    font-size: 2em !important;
  }

  .bg-nav {
    height: 105px;
    padding: 0.2rem;
  }
}